/* -------------------------------------------------- Reset CSS */
* {
    margin: 0;
   padding: 0;  
  }


#main-page{
    width: 98.9vw;
    height: 150vh;
    padding: 0;
    margin:0;
}

#barre-header{
    display: flex;
    position: relative;
    justify-content: center;
    background-color:black;
    padding: 0.1rem 0 0.3rem; 
    color:#fff;
}

#header-informatif{
    height:7vh;
    background-color: #fff;
    font-size: 150%;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #2596be;

}
#header-informatif > a{
    color: #2596be;
}
p#page-actuelle{
    color: grey;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#barre-onglet{
    position: sticky;
    top:0;
    background-color:rgb(240,240,230);
    height: 8vh;
    display: flex;
    flex-direction: row;
    border-top: 1px solid #8b8888;
    border-bottom: 1px solid #8b8888;
}
#logo-iut{
    width: 15vw;
    height: 8vh;
    padding-left: 2px;
}
.onglet{
    display: flex;
    justify-content: space-around;
    padding-top: 2.5vh;
    padding-right: 3vw;
    width: 100%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    transition: transform 100ms ease-in-out;
}

a{
    color: rgb(158, 158, 142);;
    text-decoration: none;
}

.infos-onglet:hover{
    color: #0777a0;
    cursor: pointer;
	text-decoration: none;
    transform: translateX(5px);
}
.infos-onglet-principal{
    color: #0777a0;
}
.coco{
    border-bottom: solid 4px #0777a0;
    position:static;
    cursor: pointer;
}

.img_centrale{
    display:flex;
    justify-content: center;
    border-bottom: 3px solid #2596be;
}
#img_FAQ{
    width: 35%;
    height: 15%;
}

.partie-infos{
    width: 100%;
    height: 100%;
    --height-info: 20%;
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: repeat(5, var(--height-info));
}
#ancrage-gauche{
    grid-area: 1/1/3/2;
    padding-left: 10%;
    box-shadow: 3px 3px 3px rgb(124, 118, 118);
    position: sticky;
    border-radius: 5%;
    top: 63px;
}

@media only screen and (max-width: 800px) {
    /* body{background-color:blue;} */
      .onglet{
          overflow-x: scroll;
      }
      #ancrage-gauche{
          overflow-x: hidden;
      overflow-y: scroll;
      }
  }

/* 
.c{
    width: 100px;
    border: 1px solid black;
    border-radius: 18px;
    outline: 0;
    padding: 8px 12px;
    text-align: center;
    text-decoration: none;
    font: bold 12px Verdana;
} */



/* font-family: "Lucida Grande Bold",sans-serif; */
