/* -------------------------------------------------- Reset CSS */
* {
    margin: 0;
   padding: 0;  
  }


#main-page{
    width: 98.9vw;
    height: 200vh;
    padding: 0;
    margin:0;
}

#barre-header{
    display: flex;
    position: relative;
    justify-content: center;
    background-color:black;
    padding: 0.1rem 0 0.3rem; 
    color:#fff;
}

#header-informatif{
    height:7vh;
    background-color: #fff;
    font-size: 150%;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #db9512;

}
#header-informatif > a{
    color: #db9512;
}
p#page-actuelle{
    color: grey;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#barre-onglet{
    position: sticky;
    top:0;
    background-color:rgb(240,240,230);
    height: 8vh;
    display: flex;
    flex-direction: row;
    border-top: 1px solid #8b8888;
    border-bottom: 1px solid #8b8888;
}
#logo-iut{
    width: 15vw;
    height: 8vh;
    padding-left: 2px;
}
.onglet{
    display: flex;
    justify-content: space-around;
    padding-top: 2.5vh;
    padding-right: 3vw;
    width: 100%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    transition: transform 100ms ease-in-out;
}

a{
    color: rgb(158, 158, 142);;
    text-decoration: none;
}

.infos-onglet:hover{
    color: #db9512;
    cursor: pointer;
	text-decoration: none;
    transform: translateX(5px);
}
.infos-onglet-principal{
    color: #db9512;
}
.coco{
    border-bottom: solid 4px #db9512;
    position:static;
    cursor: pointer;
}

.img_centrale{
    display:flex;
    justify-content: center;
    border-bottom: 3px solid #db9512;
}
#img_BUT{
    width: 100%;
}

.partie-informative-univ{
    display:flex;
    justify-content: center;
    margin: 2%;
}
#citation{
    font-size: 150%;
    border-right: solid 5px #db9512;
    padding-left: 15px;
    padding-right: 5px;
}
#texte-presentation-universite{
    font-size: 120%;
    font-family: "Lucida Grande Bold",sans-serif;
    padding-left: 3%;
    display: flex;
    align-items: center;
}
#chiffres-cles{
    border-left: solid 5px black;
    border-right: solid 5px black;
    border-radius: 10px;
    font-size: 110%;
    font-weight: bold;
    margin: 4%;
    line-height: 150%;
    padding-left: 5%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    background-color: #df8319;
}
.couleur-une-sur-deux{
    color: white;
}
#img-chiffres-cles{
    width: 20%;
    height: 20%;
    padding-top: 3%;
    padding-left: 15%;
}

.partie-informative-but{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 20% 30% 30% 20%;
    grid-template-rows: 15% 26% 40% 19%;
    background-color: #f0ecec;
}
#but-informatique{
    grid-area: 1/2/2/4;
    margin: 3%;
    justify-content: center;
}
.conditions-but{
    display: flex;
    align-items: space-between;
    font-size: 110%;
}
#a-savoir{
    grid-area: 2/1/3/3;
    margin: 3%;
    font-size: 110%;
}
.parcours{
    padding-left: 5%;
    color: #db9512;
}
#les-attendus-parcoursup{
    grid-area: 3/3/4/5;
    margin:4%;
    font-size: 110%;
}
#les-admissions{
    grid-area:4/2/5/4;
    margin: 3%;
}
#texte-admission{
    padding-top: 3%;
    font-size: 115%;
}
#img-bon-a-savoir{
    grid-area: 2/3/3/5;
    width: 99.5%;
    height: 100%;
}
#img-des-attendus{
    grid-area: 3/1/4/3;
    width: 65%;
    height: 50%;
    padding-left: 15%;
    padding-top: 20%;
}

i{
    color: #db9512;
    font-weight: bold;
}
h1{
    border-bottom: solid 5px #db9512;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
h2{
    padding-top: 4%;
}
h3{
    padding-top: 4%;
    padding-bottom: 5px;
    color: #db9512;
}

.footer-basic {
    padding:20px 0;
    background-color:#000000;
    color:#ffffff;
  }
  
  .footer-basic ul {
    padding:0;
    list-style:none;
    text-align:center;
    font-size:18px;
    line-height:1.6;
    margin-bottom:0;
  }
  
  .footer-basic li {
    padding:0 10px;
  }
  
  .footer-basic ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.8;
  }
  
  .footer-basic ul a:hover {
    opacity:1;
  }
  
  .footer-basic .social {
    text-align:center;
    padding-bottom:25px;
  }
  
  .footer-basic .social > a {
    font-size:24px;
    width:40px;
    height:40px;
    line-height:40px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    margin:0 8px;
    color:inherit;
    opacity:0.75;
  }
  
  .footer-basic .social > a:hover {
    opacity:0.9;
  }
  
  .footer-basic .copyright {
    margin-top:15px;
    text-align:center;
    font-size:13px;
    color:#aaa;
    margin-bottom:0;
  }

.ion-social-facebook{
    width: 100%;
    height: 100%;
}
.ion-social-instagram{
    width: 100%;
    height: 100%;
}
.ion-social-linkedin{
    width: 100%;
    height: 100%;
}
.ion-social-twitter{
    width: 100%;
    height: 100%;
}

.list-inline{
    display: flex;
    justify-content: center;
}


@media only screen and (max-width: 800px) {
    /* body{background-color:blue;} */
      .onglet{
          overflow-x: scroll;
      }
      #ancrage-gauche{
          overflow-x: hidden;
      overflow-y: scroll;
      }
  }
  
/*
#ancrage-gauche{
    grid-area: 1/1/3/2;
    padding-left: 10%;
    box-shadow: 3px 3px 3px rgb(124, 118, 118);
    position: sticky;
    border-radius: 5%;
    top: 63px;
} */

/* 
.c{
    width: 100px;
    border: 1px solid black;
    border-radius: 18px;
    outline: 0;
    padding: 8px 12px;
    text-align: center;
    text-decoration: none;
    font: bold 12px Verdana;
} */