/* -------------------------------------------------- Reset CSS */
* {
    margin: 0;
   padding: 0;  
  }


#main-page{
    width: 98.9vw;
    height: 250vh;
    padding: 0;
    margin:0;
}

#barre-header{
    display: flex;
    position: relative;
    justify-content: center;
    background-color:black;
    padding: 0.1rem 0 0.3rem; 
	/* height:5%; */
    color:#fff;
}


#header-informatif{
    height:7vh;
    background-color: #fff;
    font-size: 150%;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #981bca;
}
#header-informatif > a{
    color: #981bca;
}
p#page-actuelle{
    color: grey;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#barre-onglet{
    position: sticky;
    top:0;
    background-color:rgb(240,240,230);
    height: 3.5%;
    display: flex;
    flex-direction: row;
    border-top: 1px solid #8b8888;
    border-bottom: 1px solid #8b8888;
	font-size:1.5rem;
}
#logo-iut{
    max-width: 60%;
    max-height: 60%;
    padding-left: 2px;
	
}
.onglet{
    display: flex;
    justify-content: space-around;
    padding-top: 2.5vh;
    padding-right: 3vw;
	padding-left: 200px;
    width: 100%;
	white-space: nowrap;
	font-size: 70%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    transition: transform 100ms ease-in-out;
	
	/* overflow-y: hidden; */
	/*overflow : -moz-scrollbars-horizontal;*/
}

#formulaire-recherche{
    padding-right: 20px;
    padding-top: 3px;
    font-size: 90%;
}

a{
    color: rgb(158, 158, 142);;
    text-decoration: none; 
}  

.infos-onglet:hover{
    color: #981bca;
    cursor: pointer;
}
.titre-onglet:hover{
    text-decoration: none;
    transform: translateX(5px);
	color: #981bca;
    cursor: pointer;
}
.titre-onglet{
    margin-right:12.50%;
}
.infos-onglet-principal{
    color: #981bca;
}
.coco{
    border-bottom: solid 4px #981bca;
    position:static;
    cursor: pointer;
}
.img_centrale{
    display:flex;
    justify-content: center;
    border-bottom: 3px solid #981bca;
}
#bati-info{
	max-height: 100%;
    max-width: 50%;
	min-width:0%;
}

#partie-gauche{
    background-color: #fafafa;
}

.partie-infos{
    width: 98.9vw;
    height: 230vh;
    display: grid;
    grid-template-columns: 35% 65%;
}
#ancrage-gauche{
    grid-area: 1/1/3/2;
    padding-left: 35%;
    padding-top: 4px;
    position: sticky;
	height: 50vh;
    top: 10%;
    font-size: 130%;
    line-height: 170%;
    font-family: "Avenir",Arial,sans-serif;
    color: #981bca;
}
.titre-ancre{
    color: rgb(117, 117, 107);
}
.titre-ancre:hover{
    color:#981bca;
    font-size: 101%;
    cursor: pointer;
}
ul#ancrage-gauche{
    margin: 5%;
}


#texte-page-presentation{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 4%;
    padding-right: 10%;
}

#demarrage-projet{
    box-shadow: 3px 1.5px 4px rgb(179, 174, 174);
    border-radius: 18px;
    padding: 15px;
    text-align: start;
    text-decoration: none;
}
#img-carrier{
    width: 150%;
    height: 200%;
    padding-left: 8px;
}

#texte-page-presentation{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 4%;
    padding-right: 10%;
}
#projet-sustainable{
    box-shadow: 3px 1.5px 4px rgb(179, 174, 174);
    border-radius: 18px;
    padding: 15px;
    text-align: start;
    text-decoration: none;
}

#visite-usine{
    box-shadow: 3px 1.5px 4px rgb(179, 174, 174);
    border-radius: 18px;
    padding: 15px;
    text-align: start;
    text-decoration: none;
}
#plus-info-but-informatique{
    box-shadow: 3px 1.5px 4px rgb(179, 174, 174);
    border-radius: 18px;
    padding: 15px;
    text-align: start;
    text-decoration: none;
}
#img-usine{
    width: 150%;
    height: 150%;
    padding-left: 8px;
    padding-top: 10px;
}

#site-bourg{
    box-shadow: 3px 1.5px 4px rgb(179, 174, 174);
    border-radius: 18px;
    padding: 15px;
    text-align: start;
    text-decoration: none;
}

h1{
    color: #981bca;
}
#concours-ecrit{
    box-shadow: 3px 1.5px 4px rgb(179, 174, 174);
    border-radius: 18px;
    padding: 15px;
    text-align: start;
    text-decoration: none;
}
.flex-column{
    display: flex;
    flex-direction: column;
}


.texte-presentation-page-principale{
    color: #711496;
    font-weight: bold;
    font-family: "Lucida Grande",sans-serif !important;
    display: flex;
    align-content: end;
}
.texte-explicatif-page-principale{
    color: grey;
    display: flex;
    text-align: center;
    font-size: 105%;
    border-left: solid 4px grey;
    padding-left: 10px;
}

.lien-actu-iut{
    color: #981bca;
    font-family: "Lucida Grande",sans-serif !important;
}



.footer-basic {
    padding:20px 0;
    background-color:#000000;
    color:#ffffff;
  }
  
  .footer-basic ul {
    padding:0;
    list-style:none;
    text-align:center;
    font-size:18px;
    line-height:1.6;
    margin-bottom:0;
  }
  
  .footer-basic li {
    padding:0 10px;
  }
  
  .footer-basic ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.8;
  }
  
  .footer-basic ul a:hover {
    opacity:1;
  }
  
  .footer-basic .social {
    text-align:center;
    padding-bottom:25px;
  }
  
  .footer-basic .social > a {
    font-size:24px;
    width:40px;
    height:40px;
    line-height:40px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    margin:0 8px;
    color:inherit;
    opacity:0.75;
  }
  
  .footer-basic .social > a:hover {
    opacity:0.9;
  }
  
  .footer-basic .copyright {
    margin-top:15px;
    text-align:center;
    font-size:13px;
    color:#aaa;
    margin-bottom:0;
  }

.ion-social-facebook{
    width: 100%;
    height: 100%;
}
.ion-social-instagram{
    width: 100%;
    height: 100%;
}
.ion-social-linkedin{
    width: 100%;
    height: 100%;
}
.ion-social-twitter{
    width: 100%;
    height: 100%;
}

.list-inline{
    display: flex;
    justify-content: center;
}

@media only screen and (max-width: 800px) {
  /* body{background-color:blue;} */
	.onglet{
		overflow-x: scroll;
	}
	#ancrage-gauche{
		overflow-x: hidden;
	overflow-y: scroll;
	}
}
